.pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        margin: 20px 0;
}
.button {
        padding: 8px 16px;
        outline: 1px solid #000;
        background: #fff;
        cursor: pointer;
        transition: background-color 0.3s;
        border: none;
        font-size: 17px;
        font-weight: 500;
}
.paginationButton {
        padding: 8px 16px;
        border: none;
        background: #fff;
        cursor: pointer;
}
.activeButton {
        background-color: #000;
        color: #fff;
}

.filter {
        font-size: 17px;
        font-weight: 500;
        padding: 1.1em 4em;
        background: #fff;
        outline: 1px solid #000;
        border: none;
        cursor: pointer;
}
.activeFilter {
        background-color: #000;
        color: #fff;
}
.filterBox {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 1em;
        margin: 0 0 6em;
}

@media (max-width: 1200px) {
        .filter {
                padding: 0.5em 2em;
        }
}@media (max-width: 992px) {
        .filter {
                padding: 0.5em 1.5em;
        }
}@media (max-width: 768px) {
        .filter {
                padding: 0.5em 1em;
        }
}
