.pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        margin: 20px 0;
}
.button {
        padding: 8px 16px;
        outline: 1px solid #000;
        background: #fff;
        cursor: pointer;
        transition: background-color 0.3s;
        border: none;
        font-size: 17px;
        font-weight: 500;
}
.paginationButton {
        padding: 8px 16px;
        border: none;
        background: #fff;
        cursor: pointer;
}
.activeButton {
        background-color: #000;
        color: #fff;
}

.filter {
        font-size: 17px;
        font-weight: 500;
        padding: 1.1em 0;
        background: #fff;
        outline: 1px solid #000;
        border: none;
        cursor: pointer;
}
.activeFilter {
        background-color: #000;
        color: #fff;
}
.filterBox {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 1em;
        margin: 0 0 2em;
}

@media (max-width: 768px) {
        .filter {
                padding: 0.5em;
        }
        .filterBox {
                grid-template-columns: repeat(3, 1fr);
        }
}
@media (max-width: 375px) {
        .filterBox {
                grid-template-columns: repeat(2, 1fr);
        }
}
