h5 {
        font-size: 20px;
        font-weight: 500;
}
.orderCancel {
        display: block;
        width: 15px;
        height: 15px;
        cursor: pointer;
        position: relative;
}
.orderCancel::before,
.orderCancel::after {
        content: '';
        width: 100%;
        height: 1px;
        background: #000;
        display: block;
        position: absolute;
}
.orderCancel::before {
        top: 50%;
        transform: rotate(45deg);
}
.orderCancel::after {
        top: 50%;
        transform: rotate(-45deg);
}
.cartItemBox {
        display: grid;
        grid-template-rows: repeat(3, auto);
}
.cartItemFeatures,
.orderItself {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
}
.cartItemFeatures {
        border-bottom: 1px solid #ccc;
}
.cartItemFeatures,
.cartOrder {
        padding: 1.6em 0;
}
.cartCargo {
        grid-column: 1/3;
}
.cartOverall,
.cartPrice,
.cartAmount,
.cartOrder__price,
.cartOrder__amount,
.cartOrder__overall {
        justify-self: center;
}
.orderItself {
        align-items: center;
        padding: 3.3em 0 4.6em;
}
.orderItself h6 {
        font-size: 17px;
        font-weight: 500;
}
.orderPreview {
        grid-column: 1/3;
        display: flex;
        align-items: center;
}
.orderPreview img {
        width: 38%;
        display: block;
        margin: 0 3em 0;
}
.cartOrder__amount {
        padding: 0 1.1em;
        width: 3em;
        height: 3em;
}
.cartOrder__amount::-webkit-outer-spin-button,
.cartOrder__amount::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
}
.cartItemCoupon {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1em;
}
.cartCoupon {
        grid-column: 1/2;
        border: none;
        border-bottom: 1px solid #ccc;
        outline: none;
}
.cartCoupon:focus {
        border: none;
        border-bottom: 1px solid #000;
        outline: none;
}
.useCoupon {
        grid-column: 2/3;
        justify-self: center;
        align-self: center;
}
.refreshCart {
        grid-column: 4/5;
        justify-self: center;
        align-self: center;
}
.cartItemOverall {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 1em;
        padding: 3em 0;
}
.cartItemOverall p {
        background: #f1eadc;
        font-weight: 500;
        font-size: 25px;
        padding: 0.85em 2em;
}
.cartItemOverall p span {
        margin: 0 3.5em 0 0;
        font-weight: 500;
        font-size: 25px;
}
@media (max-width: 768px) {
        .orderPreview img {
                margin: 0 1em 0;
        }
}
@media (max-width: 992px) {
        .cartItemCoupon {
                grid-template-columns: repeat(3, 1fr);
        }
        .refreshCart {
                grid-column: 3/4;
        }
}
@media (max-width: 768px) {
        .orderItself {
                padding: 1em 0;
                position: relative;
        }
        h5 {
                font-size: 18px;
                font-weight: 500;
        }
        .cartItemCoupon {
                grid-template-columns: repeat(2, 1fr);
        }
        .refreshCart {
                grid-column: 1/3;
                justify-content: end;
        }
        .cartItemOverall {
                justify-content: center;
        }
        .cartItemOverall p {
                padding: 0.5em 0.85em;
        }
}
@media (max-width: 480px) {
        .orderCancel{
                position: absolute;
                top: -12%;
        }
        .orderItself h6 {
                font-size: 13px;
        }
        h5 {
                font-size: 14px;
                font-weight: 500;
        }
        .orderPreview img {
                margin: 0 0.5em 0;
        }
        .cartItemCoupon {
                grid-template-columns: 1fr;
        }
        .cartCoupon,
        .useCoupon,
        .refreshCart {
                grid-column: 1/2;
        }
        .cartCoupon {
                padding: 1em 0;
        }
        .cartItemOverall {
                flex-direction: column;
        }
}
