.checkoutContainer {
        width: 100%;
}
.checkoutForm {
        display: flex;
        justify-content: space-between;
}
.checkoutFields {
        max-width: 450px;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 2.3em 0;
}

.checkoutForm p {
        display: block;
        font-size: 25px;
        text-align: left;
        font-weight: 500;
}
.checkoutForm p:not(:first-child) {
        margin: 3em 0 0;
}
.checkoutFormError {
        font-weight: 500;
        color: #f00;
}
.checkoutFields input,
select {
        max-width: 350px;
        min-width: 300px;
        width: 100%;
        padding: 0 0 1em;
        outline: none;
        border: none;
        border-bottom: 1px solid black;
}
.checkoutForm textarea {
        max-width: 350px;
        min-width: 350px;
        max-height: 135px;
        min-height: 135px;
        outline: none;
        border: none;
        border-bottom: 1px solid black;
}
.checkoutData {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
}
.checkoutDataDetails {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 255px;
        gap: 0 5em;
}
.checkoutDataDetails ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 2em 0;
        position: relative;
}
.checkoutDataDetails ul span {
        font-weight: 500;
        font-size: 20px;
}
.checkoutDataDetails ul li {
        font-size: 17px;
        font-weight: 500;
        text-wrap: nowrap;
}
.checkoutDataDetails ul:nth-child(2):before {
        content: '';
        position: absolute;
        width: 255px;
        height: 55px;
        background: var(--secondary-color);
        z-index: -1;
        bottom: -15%;
        left: -8%;
}
.checkoutDataDetails p {
        grid-column: 1/3;
        margin: 0 0 1.8em;
}

.checkoutDataLabel input {
        appearance: none;
        position: absolute;
        opacity: 0;
}
.checkoutDataLabel {
        display: flex;
        align-items: center;
        gap: 8px;
        position: relative;
        cursor: pointer;
        padding: 3em 0;
        font-size: 17px;
        font-weight: 500;
}
.checkmark {
        display: inline-block;
        width: 22px;
        height: 22px;
        background-color: #fff;
        border: 1px solid #000;
        transition: background-color 0.3s, border-color 0.3s;
        position: relative;
}
.checkoutDataLabel input:checked + .checkmark::after {
        content: '';
        background: #000;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 14px;
}
.checkoutSuccess {
        display: flex;
        gap: 0 2em;
        justify-content: space-between;
}
.checkoutSuccessInfo {
        display: flex;
        align-items: center;
        gap: 0 2em;
}
.checkoutSuccessInfo div {
        display: flex;
        flex-direction: column;
        gap: 1em 0;
}
.checkoutSuccessInfo h5 {
        font-weight: 500;
        font-size: 25px;
}
.checkoutSuccessInfo p {
        font-weight: 500;
        font-size: 17px;
}
@media (max-width: 768px) {
        .checkoutSuccess {
                flex-direction: column;
                gap: 2em 0;
                align-items: center;
        }
        .checkoutForm {
                flex-direction: column;
                gap: 4em 0;
        }
        .checkoutData {
                gap: 4em 0;
        }
}
@media (max-width: 375px) {
        .checkoutForm textarea {
                max-width: 300px;
                min-width: 300px;
        }
}
