.swiper {
        width: 100%;
        height: 100%;
        position: relative;
}
.swiper-pagination-bullet {
        border-radius: 0;
}
.swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
}

.swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
}
.home {
        position: relative;
}
.home::before {
        content: '';
        position: absolute;
        width: 43%;
        height: 120%;
        background: var(--secondary-color);
        right: 0;
        top: -20%;
}
.homeContainer {
        display: flex;
}
.homeText {
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        gap: 3em 0;
        padding: 10em 0;
}
.homeText h1 {
        font-size: 3.5rem;
        font-weight: 500;
        width: 75%;
}
.homeText > p {
        text-align: right;
        font-size: 1.3333333rem;
        width: 53%;
}
.homeText__button {
        position: relative;
        align-self: center;
        background: var(--primary-color);
        text-decoration: none;
        color: #fff;
        font-family: 'Raleway';
        padding: 1.5em 3.3em;
}
.homeText__button::before {
        content: url('../photos/arrow.svg');
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-100%, 0);
        padding: 1.02em 1.8em;
        background: #6e9c9f2a;
}
.homePhotos {
        position: relative;
        width: 460px;
}
@media (max-width: 1300px) {
        .homePhotos {
                overflow: hidden;
        }
}
.homePhotos img:not([id]) {
        width: 100%;
}
#womanTwo {
        position: absolute;
        right: 0;
        transform: translate(50%, 70%);
}
#womanOne {
        position: absolute;
        left: 0;
        bottom: 20px;
        transform: translate(-70%, 20%);
}
@media (max-width: 1300px) {
        .home::before {
                width: 53%;
        }
}
@media (max-width: 992px) {
        .homeText {
                padding: 5em 0;
        }
        .homeText h1 {
                line-height: 0.8em;
        }
        #womanOne {
                transform: none;
                left: -10%;
                top: 50%;
                width: 40%;
        }
}
@media (max-width: 768px) {
        .swiper {
                z-index: 1 !important;
        }
        .homePhotos {
                position: absolute;
                width: 100%;
                left: 0;
                z-index: 0;
        }
        .home::before {
                background: #f1eadcdb;
                z-index: 1;
                width: 100%;
                height: 100%;
                top: 0;
        }
        .homePhotos img:not([id]) {
                top: 0;
        }
        #womanTwo {
                right: 0;
                width: 33%;
                transform: none;
        }
        #womanOne {
                top: 22%;
                left: 0;
                width: 25%;
                transform: none;
        }
        .home {
                padding: 0 0 2em;
                overflow: hidden;
        }
}
@media (max-width: 425px) {
        .homeText {
                padding: 2em 0;
        }
        .homeText h1 {
                font-size: 3rem;
        }
        .homeText > p {
                width: 73%;
                font-size: 1rem;
        }
        .homeText__button {
                align-self: flex-end;
        }
}
