.previewPage {
        display: flex;
        align-items: center;
        gap: 5em;
}
.previewDesciption {
        display: flex;
        flex-direction: column;
        gap: 4em;
        position: relative;
}
.previewImage {
        display: block;
        width: 100%;
        max-width: 536px;
}
.previewImage img {
        width: 100%;
}
.previewPrice h2 {
        font-size: 2.6rem;
        font-weight: 500;
        color: #998e78;
}
.previewColor,
.previewSize {
        display: flex;
        gap: 2em;
        flex-direction: column;
}
.previewSize div span {
        width: 40px;
        height: 40px;
        border: 1px solid #000;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 17px;
        cursor: pointer;
        font-weight: 500;
}
.previewColor span {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
}
.previewColor h5,
.previewSize h5 {
        font-size: 20px;
        font-weight: 500;
}
.previewColor div,
.previewSize div {
        display: flex;
        gap: 1em;
}
.colors {
        cursor: pointer;
}
#brown {
        background: #927876;
}
#grey {
        background: #d4d4d4;
}
#red {
        background: #fd9696;
}
#orange {
        background: #fdc796;
}
.activeColor {
        border: 2px solid #000;
}
.activeSize {
        background: #000;
        color: #fff;
}
.associated {
}
.associatedRow {
        display: flex;
        flex-wrap: wrap;
        gap: 2em;
        padding: 4.5em 0 0;
}
.associatedError {
        position: absolute;
        top: 77%;
        color: #f00;
        font-weight: 500;
        text-wrap: nowrap;
}
@media (max-width: 768px) {
        .associatedRow {
                justify-content: center;
                padding: 1em 0 0;
        }
        .previewPage {
                flex-direction: column;
                gap: 2.5em;
        }
        .previewImage {
                width: 80%;
        }
}
