@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Raleway';
        font-size: 15px;
        font-weight: 400;
}
a {
        text-decoration: none;
        color: #000;
}
img {
        display: block;
}
body,
html {
        height: 100%;
}
h1 {
        font-size: 40px;
        font-weight: 500;
}
body.active {
        overflow: hidden;
}
#root {
        display: flex;
        flex-direction: column;
        min-height: 100%;
}
#root.fixed {
        overflow: hidden;
}
main {
        flex: 1 1 auto;
}
:root {
        --primary-color: #6e9c9f;
        --secondary-color: #f1eadc;
        --swiper-pagination-color: #6e9c9f;
        --swiper-theme-color: #6e9c9f;
        --swiper-pagination-bullet-size: 4px;
        --swiper-pagination-bullet-width: 30px;
        --swiper-pagination-bullet-inactive-color: #424242;
        --swiper-pagination-color: #000;
        --swiper-pagination-bullet-active-color: #000;
        --swiper-pagination-bullet-border-radius: 0;
        --transition: all 500ms ease;
        --swiper-pagination-bottom: 4em;
        --swiper-navigation-sides-offset: -4em;
}
.container {
        max-width: 1130px;
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 10px;
}
@media (max-width: 425px) {
        .container {
                padding-left: 5px;
                padding-right: 5px;
        }
}
.activeLink {
        color: var(--primary-color) !important;
        font-weight: 700;
}
.mainMarginTop {
        margin-top: 8.666em;
}
.mainMarginBottom {
        margin-top: 8.666em;
}
.pageHeading {
        margin-bottom: 2.25em;
}
.primaryButton {
        padding: 1.5em 3.3em;
        background: var(--primary-color);
        color: #fff;
        transition: var(--transition);
        display: inline-block;
}
.secondaryButton {
        padding: 1.5em 3.3em;
        background: #fff;
        color: var(--primary-color);
        outline: 1px solid var(--primary-color);
        transition: var(--transition);
        display: inline-block;
}
.linkButton {
        font-size: 17px;
        color: var(--primary-color);
        font-weight: 500;
        position: relative;
}
.linkButton::after {
        content: '';
        display: block;
        width: 0%;
        height: 1px;
        background: var(--primary-color);
        position: absolute;
        bottom: -5px;
        right: 50%;
        transition: var(--transition);
}
.linkButton:hover::after {
        width: 100%;
        right: 0;
}
.primaryButton:hover {
        background: #509498;
}
.secondaryButton:hover {
        background: #6e9c9f;
        color: #fff;
}
@media (max-width: 768px) {
        .mainMarginTop {
                margin-top: 2.666em;
        }
        .mainMarginBottom {
                margin-top: 2.666em;
        }
        .pageHeading {
                margin-bottom: 2.25em;
                font-size: 2rem;
        }
}
@media (max-width: 425px) {
        .mainMarginTop {
                margin-top: 2em;
        }
        .mainMarginBottom {
                margin-top: 2em;
        }
        .pageHeading {
                margin-bottom: 0.5em;
                font-size: 2rem;
        }
}
.swiper-button-prev,
.swiper-button-next {
        padding: 1em;
}

.swiper-button-prev::after {
        content: url(../images/prev.svg) !important;
}
.swiper-button-next::after {
        content: url(../images/next.svg) !important;
}
@media (max-width: 1300px) {
        :root {
                --swiper-navigation-sides-offset: 0;
                --swiper-pagination-bottom: 3em;
        }
}
@media (max-width: 425px) {
        :root {
                --swiper-pagination-bottom: 0.5em;
        }
}
